{% extends "base.html" %}
{% block title %}About YAP{% endblock %}
{% load static%}
{% block content %}

<h3 class="page-title">About Us</h3>
<section>
<p>
    yap is yet another parser written in Go. It was implemented to test the hypothesis of my MSc thesis on Joint Morpho-Syntactic Processing of MRLs in a Transition Based Framework at IDC Herzliya with my advisor, Reut Tsarfaty. A paper on the morphological analysis and disambiguation aspect for Modern Hebrew and Universal Dependencies was accepted to COLING 2016

yap is currently provided with a model for Modern Hebrew, trained on a heavily updated version of the SPMRL 2014 Hebrew treebank. We hope to publish the updated treebank soon as well.

yap contains an implementation of the framework and parser of zpar from Z&N 2011 (Transition-based Dependency Parsing with Rich Non-local Features by Zhang and Nivre, 2011) with flags for precise output parity (i.e. bug replication), trained on the morphologically disambiguated Modern Hebrew treebank.

yap is under active development and documentation.
</p>
<p>
    If you make use of this software for research, we would appreciate the following citation:
</p>
<p>
 @InProceedings{moretsarfatycoling2016,<br>
  author = {Amir More and Reut Tsarfaty},<br>
  title = {Data-Driven Morphological Analysis and Disambiguation for Morphologically Rich Languages and Universal Dependencies},<br>
  booktitle = {Proceedings of COLING 2016},<br>
  year = {2016},<br>
  month = {december},<br>
  location = {Osaka}<br>
}
</p>

</section>

{% endblock %}
