{% load staticfiles %}
    <html>
        <head>
            <title>{% block title %}{% endblock %}</title>
             <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.ico' %}">
            <meta name="theme-color" content="#ffffff">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        </head>
        <body>
        <header>
            <nav class="navbar-top">
                <a class="logo" href="{% url 'home' %}" style="float:right;">
                    <img class="img-responsive logo" style="padding-top: 10px;" src="{% static "/images/opu_logo.jpg" %}">
                </a>
            </nav>
        </header>
         <nav role="navigation" id="menuToggle">
              <input type="checkbox" />
              <span class="hamburger"></span>
              <span class="hamburger"></span>
              <span class="hamburger"></span>
              <ul id="menu">
                <a href="{% url 'home' %}"><li>Home</li></a>
                <a href="#"><li>About</li></a>
                <a href="#"><li>Info</li></a>
                <a href="#"><li>Contact</li></a>
              </ul>
          </nav>
            <main>
                {% block content %}
                {% endblock %}
            </main>
        <script src="{% static "js/jquery-3.2.1.js" %}"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"</script>

       </body>
    </html>
