{% extends "base.html" %}
{% block title %}conll-U reader{% endblock %}
{% load static%}
{% block content %}

<h3 class="page-title">Raw conll-U file Analysis</h3>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
       {% for field in form %}
        {{ field.help_text }}<br>
        {{ field }}<br>
    {% endfor %}
    <button class="btn" type="submit">Submit</button>
  </form>
<div class="analysis">
{% if query != "" %}
    <div id="accordion-segments" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="heading-segments">
                <h5>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-segments" href="#collapse-segments" aria-expanded="true"
                   aria-controls="collapse-segments">
                  <span class="collapsed">Segmented Text</span>
                </a>
              </h5>
            </div>

            <div id="collapse-segments" class="collapse in" role="tabpanel" aria-labelledby="heading-segments">
              <div class="card-block">
                {{segments}}
              </div>
            </div>
          </div>
    </div>
<br>
    <div id="pos" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="heading-pos">
                <h5>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#pos" href="#collapse-pos" aria-expanded="true"
                   aria-controls="collapse-pos">
                  <span class="collapsed">Part of Speech Tags</span>
                </a>
              </h5>
            </div>

            <div id="collapse-pos" class="collapse in" role="tabpanel" aria-labelledby="heading-pos">
              <div class="card-block">
                {{pos}}
              </div>
            </div>
          </div>
    </div>
<br>
<div id="morph" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="heading-morph">
                <h5>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#morph" href="#collapse-morph" aria-expanded="true"
                   aria-controls="collapse-morph">
                  <span class="collapsed">Morphological Features</span>
                </a>
              </h5>
            </div>

            <div id="collapse-morph" class="collapse in" role="tabpanel" aria-labelledby="heading-morph">
              <div class="card-block">
                {{morph|linebreaks}}
              </div>
            </div>
          </div>
    </div>
<br>
<div id="accordion-dep" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="heading-dep">
                <h5>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-dep" href="#collapse-dep" aria-expanded="true"
                   aria-controls="collapse-dep">
                  <span class="collapsed">Dependency Relations</span>
                </a>
              </h5>
            </div>

            <div id="collapse-dep" class="collapse in" role="tabpanel" aria-labelledby="heading-dep">
              <div class="card-block">
                {{relations|linebreaks}}
              </div>
            </div>
          </div>
    </div>
<br>
</div>
{% endif %}
{% endblock %}
