{% extends "base.html" %}
{% block title %}HE_UD Parser{% endblock %}
{% load static%}
{% block content %}

<h3 class="page-title">Morphological and Syntactic Analysis of Hebrew Texts</h3>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
       {% for field in form %}
        {{ field }}<br>
    {% endfor %}
    <button class="btn" type="submit">Submit</button>
  </form>

<div class="analysis">
{% if query != "" %}
    <div id="parser-segments" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="heading-segments-parser">
                <h5>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#parser-segments" href="#collapse-segments-parser" aria-expanded="true"
                   aria-controls="collapse-segments-parser">
                  <span class="collapsed">Segmented Text</span>
                </a>
              </h5>
            </div>

            <div id="collapse-segments-parser" class="collapse in" role="tabpanel" aria-labelledby="heading-segments-parser">
              <div class="card-block">
                {{segments}}
              </div>
            </div>
          </div>
    </div>
<br>
    <div id="parser-pos" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="heading-pos-parser">
                <h5>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#parser-pos" href="#collapse-pos-parser" aria-expanded="true"
                   aria-controls="collapse-pos-parser">
                  <span class="collapsed">Part of Speech Tags</span>
                </a>
              </h5>
            </div>

            <div id="collapse-pos-parser" class="collapse in" role="tabpanel" aria-labelledby="heading-pos-parser">
              <div class="card-block">
                  {% for p in pos %}
                    <div>{{p}}<div>
                  {% endfor %}
              </div>
            </div>
          </div>
    </div>
<br>
<div id="parser-morph" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="heading-morph-parser">
                <h5>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#parser-morph" href="#collapse-morph-parser" aria-expanded="true"
                   aria-controls="collapse-morph-parser">
                  <span class="collapsed">Morphological Features</span>
                </a>
              </h5>
            </div>

            <div id="collapse-morph-parser" class="collapse in" role="tabpanel" aria-labelledby="heading-morph-parser">
              <div class="card-block">
                {{morph|linebreaks}}
              </div>
            </div>
          </div>
    </div>
<br>

<div id="parser-dep" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="heading-dep-parser">
                <h5>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#parser-dep" href="#collapse-dep-parser" aria-expanded="true"
                   aria-controls="collapse-dep-parser">
                  <span class="collapsed">Dependency Relations</span>
                </a>
              </h5>
            </div>

            <div id="collapse-dep-parser" class="collapse in" role="tabpanel" aria-labelledby="heading-dep-parser">
              <div class="card-block">
                {{relations|linebreaks}}
              </div>
            </div>
          </div>
    </div>
<br>

<div id="parser-lattices" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="heading-lattices-parser">
                <h5>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#parser-lattices" href="#collapse-lattices-parser" aria-expanded="true"
                   aria-controls="collapse-lattices-parser">
                  <span class="collapsed">Lattices</span>
                </a>
              </h5>
            </div>

            <div id="collapse-lattices-parser" class="collapse" role="tabpanel" aria-labelledby="heading-lattices-parser">
              <div class="card-block">
                {{lattices|linebreaks}}
              </div>
            </div>
          </div>
    </div>
</div>
{% endif %}
{% endblock %}
