/*-------------------------------*/
/*             Main              */
/*-------------------------------*/

main {
    margin: 150px;
}


#annotators {
    width: 600px;
    height: auto;
}

.page-title{
    border-bottom: 1px solid #ccc; /* This is the line replacing the hr*/
    margin-bottom: 10px; /* This is the space below the line */
    padding-top: 30px;
    padding-bottom: 5px; /* This is the space between the heading text and the line */
    border-color: black;
    font-family: 'Special Elite', Lucida sans, cursive;
	font-size: 32px;
}

section p {
    text-align: justify;
    padding: 20px 100px 0px 20px;
    size: 16px;
    line-height: 2.5;
}

/*-------------------------------*/
/*             NavBar            */
/*-------------------------------*/


#logo {
  width: 150px;
}

.navbar-brand {
  padding: 3px;
}

.navbar-inverse {
    background-color: #000;
}

.dropdown-menu {
    filter: invert(100%);
}
/*-------------------------------*/
/*           Annotations         */
/*-------------------------------*/

.card {
    margin-top: 20px;
}

.card-header{
    border-left: 6px solid black;
    background-color: #ccc;
    padding: 3px;
}

.collapsed,
.collapsed a:hover,
.collapsed a:active,
.collapsed a:visited{
    color:black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.collapse{
    padding-top: 20px;
    font-size: 16px;
}

#collapse-pos, #collapse-segments {
    direction: rtl;
}

.card-subtype {
    margin-left: 40px;
}