/*-------------------------------*/
/*             Main              */
/*-------------------------------*/

main {
    margin: 150px;
}


#annotators {
    width: 600px;
    height: auto;
}



/*-------------------------------*/
/*             NavBar            */
/*-------------------------------*/


#logo {
  width: 150px;
}

.navbar-brand {
  padding: 3px;
}
