/*-------------------------------*/
/*             Main              */
/*-------------------------------*/

main {
    margin: 150px;
}


#annotators {
    width: 600px;
    height: auto;
}

.page-title{
    border-bottom: 1px solid #ccc; /* This is the line replacing the hr*/
    margin-bottom: 10px; /* This is the space below the line */
    padding-top: 30px;
    padding-bottom: 5px; /* This is the space between the heading text and the line */
    border-color: black;
	font-size: 32px;
}

section p {
    text-align: justify;
    padding: 20px 100px 0px 20px;
    size: 16px;
    line-height: 2;
}

section h3 {
    padding: 40px 100px 0px 10px;

}

h1, h2, h3, h4, h5, .page-title {
    font-family: 'Special Elite', Lucida sans, cursive;
}





/*-------------------------------*/
/*             NavBar            */
/*-------------------------------*/


#logo {
  width: 150px;
}

.navbar-brand {
  padding: 3px;
}

.navbar-inverse {
    background-color: #000;
}

.dropdown-menu {
    filter: invert(100%);
}
/*-------------------------------*/
/*           Annotations         */
/*-------------------------------*/

.analysis {
    width: 90%;
    margin-top: 2.5%;
}


.card {
    margin-top: 20px;
}




.collapse{
    padding-top: 20px;
    font-size: 16px;
}


.card-subtype {
    margin-left: 40px;
}

.btn{
    border-color: black;
    background-color: #ccc
}

.collapsed{
    border-color: #9b9b9b;
}